html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#sideBar{
  background-color: #16a085
}
.header {
  text-align: center;
  margin-top: 1vh;
  border: 2px solid white;
  border-radius: 3px;
}
h4{
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: 'Oswald', sans-serif;
}
#of {
  margin-top: -10px;
  margin-bottom: -10px;
  font-family: 'Satisfy', cursive;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before, .fancy span:after {
  content: "";
  position: absolute;
  height: 7px;
  border-bottom: 1px solid white;
  top: 0;
  width: 60px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 16px;
}
.form-inline{
  margin-top: 5px;
  text-align: center;
}
#info > div{
  background-color: white;
  max-height: 50vh;
  overflow: auto;
}
#footer{
  text-align: center;
  font-size: 10px;
}
